In [8]:
pip install numpy

Requirement already satisfied: numpy in c:\users\jil\appdata\local\programs\python\python313\lib\site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install pandas

Requirement already satisfied: pandas in c:\users\jil\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jil\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jil\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jil\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jil\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\jil\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import numpy as np
import pandas as pd

In [13]:
import pandas as pd

# Load the CSV file
file_path = r"D:\Project\laptop price predictor\Laptop-Price-Predictor\Laptop-Price-Predictor\Laptop_price.csv"

# Use the variable `file_path` inside `pd.read_csv()`
df = pd.read_csv(file_path)

# Display the first few rows
print(df.head())

    Brand  Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size    Weight  \
0    Asus         3.830296        16               512    11.185147  2.641094
1    Acer         2.912833         4              1000    11.311372  3.260012
2  Lenovo         3.241627         4               256    11.853023  2.029061
3    Acer         3.806248        16               512    12.280360  4.573865
4    Acer         3.268097        32              1000    14.990877  4.193472

          Price
0  17395.093065
1  31607.605919
2   9291.023542
3  17436.728334
4  32917.990718

In [15]:
import pandas as pd

# Load the CSV file
file_path = r"D:\Project\laptop price predictor\Laptop-Price-Predictor\Laptop-Price-Predictor\Laptop_price.csv"
df = pd.read_csv(file_path)

# Display the first few rows
print(df.head())

    Brand  Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size    Weight  \
0    Asus         3.830296        16               512    11.185147  2.641094
1    Acer         2.912833         4              1000    11.311372  3.260012
2  Lenovo         3.241627         4               256    11.853023  2.029061
3    Acer         3.806248        16               512    12.280360  4.573865
4    Acer         3.268097        32              1000    14.990877  4.193472

          Price
0  17395.093065
1  31607.605919
2   9291.023542
3  17436.728334
4  32917.990718

In [16]:
import pandas as pd

# Load the CSV file with a specified encoding
file_path = r"D:\Project\laptop price predictor\Laptop-Price-Predictor\Laptop-Price-Predictor\Laptop_price.csv"
df = pd.read_csv(file_path, encoding='latin1')

# Display the first few rows
print(df.head())

    Brand  Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size    Weight  \
0    Asus         3.830296        16               512    11.185147  2.641094
1    Acer         2.912833         4              1000    11.311372  3.260012
2  Lenovo         3.241627         4               256    11.853023  2.029061
3    Acer         3.806248        16               512    12.280360  4.573865
4    Acer         3.268097        32              1000    14.990877  4.193472

          Price
0  17395.093065
1  31607.605919
2   9291.023542
3  17436.728334
4  32917.990718

In [17]:
print(df.shape)

(1000, 7)

In [19]:
import pandas as pd

# Load the CSV file with specified encoding
file_path = r"D:\Project\laptop price predictor\Laptop-Price-Predictor\Laptop-Price-Predictor\Laptop_price.csv"
df = pd.read_csv(file_path, encoding='latin1')  # or other encoding if needed

# Get the shape (rows, columns) of the DataFrame
print(df.shape)

(1000, 7)

In [21]:
df.isnull

<bound method DataFrame.isnull of       Brand  Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size  \
0      Asus         3.830296        16               512    11.185147
1      Acer         2.912833         4              1000    11.311372
2    Lenovo         3.241627         4               256    11.853023
3      Acer         3.806248        16               512    12.280360
4      Acer         3.268097        32              1000    14.990877
..      ...              ...       ...               ...          ...
995      HP         3.343584         4              1000    12.587095
996    Dell         2.780555         8               256    12.679356
997    Dell         3.200569         4               512    12.666315
998    Asus         1.604182         8               256    11.215581
999  Lenovo         1.711980         4               256    16.561498

       Weight         Price
0    2.641094  17395.093065
1    3.260012  31607.605919
2    2.029061   9291.023542
3    4.573865  17436.728334
4    4.193472  32917.990718
..        ...           ...
995  3.162399  31593.668017
996  3.750265   9149.521832
997  3.392612  16552.404779
998  3.857613   9407.473459
999  3.440883   8807.696702

[1000 rows x 7 columns]>

In [22]:
df.isnull

<bound method DataFrame.isnull of       Brand  Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size  \
0      Asus         3.830296        16               512    11.185147
1      Acer         2.912833         4              1000    11.311372
2    Lenovo         3.241627         4               256    11.853023
3      Acer         3.806248        16               512    12.280360
4      Acer         3.268097        32              1000    14.990877
..      ...              ...       ...               ...          ...
995      HP         3.343584         4              1000    12.587095
996    Dell         2.780555         8               256    12.679356
997    Dell         3.200569         4               512    12.666315
998    Asus         1.604182         8               256    11.215581
999  Lenovo         1.711980         4               256    16.561498

       Weight         Price
0    2.641094  17395.093065
1    3.260012  31607.605919
2    2.029061   9291.023542
3    4.573865  17436.728334
4    4.193472  32917.990718
..        ...           ...
995  3.162399  31593.668017
996  3.750265   9149.521832
997  3.392612  16552.404779
998  3.857613   9407.473459
999  3.440883   8807.696702

[1000 rows x 7 columns]>

In [23]:
df.shape

(1000, 7)

In [24]:
df.isnull

<bound method DataFrame.isnull of       Brand  Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size  \
0      Asus         3.830296        16               512    11.185147
1      Acer         2.912833         4              1000    11.311372
2    Lenovo         3.241627         4               256    11.853023
3      Acer         3.806248        16               512    12.280360
4      Acer         3.268097        32              1000    14.990877
..      ...              ...       ...               ...          ...
995      HP         3.343584         4              1000    12.587095
996    Dell         2.780555         8               256    12.679356
997    Dell         3.200569         4               512    12.666315
998    Asus         1.604182         8               256    11.215581
999  Lenovo         1.711980         4               256    16.561498

       Weight         Price
0    2.641094  17395.093065
1    3.260012  31607.605919
2    2.029061   9291.023542
3    4.573865  17436.728334
4    4.193472  32917.990718
..        ...           ...
995  3.162399  31593.668017
996  3.750265   9149.521832
997  3.392612  16552.404779
998  3.857613   9407.473459
999  3.440883   8807.696702

[1000 rows x 7 columns]>

In [25]:
df.isnull().sum()

Brand               0
Processor_Speed     0
RAM_Size            0
Storage_Capacity    0
Screen_Size         0
Weight              0
Price               0
dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             1000 non-null   object
 1   Processor_Speed   1000 non-null   float64
 2   RAM_Size          1000 non-null   int64
 3   Storage_Capacity  1000 non-null   int64
 4   Screen_Size       1000 non-null   float64
 5   Weight            1000 non-null   float64
 6   Price             1000 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 54.8+ KB

In [27]:
df.head(2)

,Brand,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
0,Asus,3.830296,16,512,11.185147,2.641094,17395.093065
1,Acer,2.912833,4,1000,11.311372,3.260012,31607.605919

In [31]:
if 'RAM' in df.columns:
    df['RAM'] = df['RAM'].astype(str)  # Ensure it's a string type
    df['RAM'] = df['RAM'].str.replace('GB', '', regex=True).astype('int32')
    print("Successfully cleaned 'RAM' column.")
else:
    print("Column 'RAM' not found!")

Column 'RAM' not found!

In [33]:
df['RAM'] = df['RAM'].str.replace('GB', '').astype('int32')

KeyError: 'RAM'

In [34]:
df['Weight'] = df['Weight'].str.replace('kg', '').astype('float32')

AttributeError: Can only use .str accessor with string values!

In [35]:
df.head(2)

,Brand,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
0,Asus,3.830296,16,512,11.185147,2.641094,17395.093065
1,Acer,2.912833,4,1000,11.311372,3.260012,31607.605919

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             1000 non-null   object
 1   Processor_Speed   1000 non-null   float64
 2   RAM_Size          1000 non-null   int64
 3   Storage_Capacity  1000 non-null   int64
 4   Screen_Size       1000 non-null   float64
 5   Weight            1000 non-null   float64
 6   Price             1000 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 54.8+ KB

In [37]:
df.corr()['price_euros']

ValueError: could not convert string to float: 'Asus'

In [ ]:
df.corr()['Price_euros']

In [ ]:
df.corr()['Price_euros']

In [ ]:
 	df.corr()['Price_euros']

In [ ]:
# Select only numeric columns for correlation
numeric_df = df.select_dtypes(include=['number'])

# Calculate correlation and access the 'Price_euros' column
price_corr = numeric_df.corr()['Price_euros']

# Display the correlation values
print(price_corr)

In [ ]:
df['Company'].value_counts()

In [ ]:
# Define a list of companies to group into 'Other'
other_companies = ['Samsung', 'Mediacom', 'Razer', 'Microsoft', 'Vero', 
                   'Xiaomi', 'Chuwi', 'Fujitsu', 'Google', 'LG', 'Huawei']

# Apply transformation to the 'Company' column
df['Company'] = df['Company'].apply(lambda x: 'Other' if x in other_companies else x)

# Verify the result by displaying the counts again
company_counts = df['Company'].value_counts()
print(company_counts)

In [ ]:
df['TypeName'].value_counts()

In [ ]:
df['ScreenResolution'].value_counts()

In [ ]:
# Example: Add 'TouchScreen' and 'IPS' columns based on ScreenResolution or other conditions
# Assuming that "TouchScreen" and "IPS" information can be deduced from the ScreenResolution or similar logic.

df['TouchScreen'] = df['ScreenResolution'].apply(lambda x: '1' if 'Touch' in str(x) else '0')
df['IPS'] = df['ScreenResolution'].apply(lambda x: '1' if 'IPS' in str(x) else '0')

# Remove the 'ScreenResolution' column
df = df.drop(columns=['ScreenResolution'])

# Display the updated DataFrame
print(df.head())

In [ ]:
df['Product'].value_counts()

In [ ]:
df.head(2)

In [ ]:
df['Cpu'].value_counts()

In [ ]:
len(df['Cpu'].value_counts())